#nav-bar {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;

}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

#nav-bar .header {
  font-size: 200%;
  position: absolute;
  margin-top: 20px;

}

